# Exclude vscode configuration
.vscode/

# Exclude all kdevelop project files
.kdev4/
**.kdev4

# Exclude non-code files (non need to maintain)
/build/

# Exclude all pycache files
**/__pycache__/

gmock.out